#productName
{
    background: black;
    color: white;
    padding: 0 1vw;
}

#productOptionsCartAndSave
{
    display: flex;
    padding: 5vh 0;
    /* justify-content: center; */
    align-items: center;
}

#productOptionsCartAndSave > h3 
{
    width: 20vw;
    margin: 0;
}

#productOptionsCartAndSave > div
{
    width: 5vw;
}