#productName
{
    background: black;
    color: white;
    padding: 0 1vw;
}

#productOptionsCartAndSave
{
    display: flex;
    padding: 5vh 0;
    align-items: center;
}

#productOptionsCartAndSave > h3 
{
    width: 20vw;
    margin: 0;
}

#productOptionsCartAndSave > div
{
    width: 10vw;
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
    #productOptionsCartAndSave > div
{
    width: 8vw;
}
}

@media only screen and (max-width: 992px)
{
    #productOptionsCartAndSave
    {
        padding: 1vh 0;
    }

        #productOptionsCartAndSave > h3 
    {
        width: 50vw;
    }
}