#productOptionsCartAndSave
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#productOptionsCartAndSave > h3 
{
    width: 20vw;
    margin: 0;
}

#productOptionsCartAndSave > div
{
    width: 5vw;
}