#sizeTableComponent
{
    flex-direction: column;
    align-items: start;
    padding-top: 7vh;
}

#sizeTable
{
    display: flex;
    justify-content: flex-start;
}
#sizeTable > div
{
    height: 3vw;
    width: 3vw;
    color: black;
    margin: 1px;
    border: 1px solid transparent;
    
}



 #sizeTable > div 
{
    display: flex;
    justify-content: center;
    align-items: center!important;
}

.available
{
    background-color: rgba(0, 0, 0, 0.082);
    cursor:pointer;
} 

.available:hover
{
    background-color: rgba(0, 0, 0, 0.143);
}
.notAvailable
{
   opacity: 0.3;
   cursor: none;
}