#sizeTableComponent
{
    flex-direction: column;
    align-items: start;
    padding-top: 7vh;
}

#sizeTable
{
    display: flex;
    justify-content: flex-start;
}
#sizeTable > div
{
    height: 3vw;
    width: 3vw;
    color: black;
    margin: 1px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center!important;
    
}


.available
{
    background-color: rgba(0, 0, 0, 0.082);
    cursor:pointer;
} 

.available:hover
{
    background-color: rgba(0, 0, 0, 0.143);
}
.notAvailable
{
   opacity: 0.3;
   cursor: none;
}
@media only screen and (min-width: 768px) and (max-width: 992px)
{
    #sizeTableComponent
    {
        justify-content: flex-end;
        border-top: 1px solid black;
    }
    #sizeTable > div
    {
        height: 5vw;
        width: 5vw;
        
    }

    #sizeTableComponent
    {
        padding-top: 0.3vh;
    }

}
@media only screen and (max-width: 768px)
{
    #sizeTableComponent
    {
        justify-content: flex-end;
        border-top: 1px solid black;
    }
    #sizeTable > div
    {
        height: 8vw;
        width: 8vw;
        
    }

    #sizeTableComponent
    {
        padding-top: .5vh;
    }
} 
