.productDetails
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2vh 5vw;
}

.productBriefDescription
{
    background-color: rgba(0, 0, 0, 0.082);
    padding: 2vh 5vw;
    width: 89vw;
    margin:5vh auto;
}

.productBriefDescription label
{
    font-weight: bold;
    padding-right: 1vw;
}


@media only screen and (min-width: 992px) 
{
    .productDetails
{
    flex-direction: row!important;
}
}