#buyButton
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10vh 10vw 10vh 0;
    border-bottom: 1px solid black;
}

.amount
{
    display: grid;
    grid-template-columns: 1fr;
}
.amount input
{
    width: 6vw;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.082);
}

#buyButton > button
{
    padding: 1.5vh 5vw;
    border-color:transparent;
    background-color: #A41A1A;
    color: white;
}

#buyButton > button:hover
{
    background-color: #a41a1ae7;
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
    #buyButton
    {

        justify-content:space-between;
        padding-top: 3vh;
    }

        .amount input
    {
        width: 10vw;
        padding: .3vh 0;
    }

        #buyButton > button
    {
        padding: 1.5vh 20vw;
    }
}

@media only screen and (max-width: 768px)
{
        #buyButton
    {

        justify-content:space-between;
        padding-top: 3vh;
    }

        .amount input
    {
        width: 20vw;
    }

        #buyButton > button
    {
        padding: 1.5vh 20vw;
    }
}