footer
{
    background-color: rgba(0, 0, 0, 0.856);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#footerInformations
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footerData
{
    background-color: rgba(0, 0, 0, 0.972);
}


@media only screen and (min-width: 576px)
{
        #footerInformations
    {

        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}