.none
{
    display: none;
}

/* #productBody
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} */

#filterTable {
    margin: auto!important;
    width: 50vw!important;
  }


.filterTableNone
{
    display: none;
}


#filterOptions
{
    padding: 2vh 2vw;
    /* background-color:rgba(0, 0, 0, 0.082); */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#finishFilter
{
    width: 30vw;
    display: block!important;
    margin: 1vh auto!important;
    background-color: #a41a1ade!important;
    border-color: #a41a1ade!important;
    color: white!important;
    text-align: center!important;
}


#filterOptions > button , #filterTable , select 
{
    width: 40vw;
    margin: 1vh auto;
    background-color: black;
    border-radius: 3px;
    border-color: black;
    color: white;
    text-align: center!important;
}


#filterOptions > button:hover , #filterTable
{
    transition-delay: 0.05s;
}

#filterOptions > button:hover , .clickedButton
{
    border-radius: 3px!important;
    color: white!important;
    background-color: #A41A1A!important;
    border-color: #A41A1A!important;
}


@media only screen and (min-width: 992px) {

    #productBody
    {
        display: grid;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: auto auto auto;
        padding: 2vh 5vw;
    }

    #firstElement
    {
        grid-column: 1 / span 2;
        grid-row: 1;
        display: flex;
        justify-content: space-around;
        padding: 0 20vw;


    }

    #secondElement
    {
        grid-row: 2;
        grid-column: 1;

    }

    #thirdElement
    {
        grid-row: 3;
        grid-column: 1;

    }

    #fourthElement
    {

        grid-column: 2;
        grid-row: 2 / span 3;
        margin:0 auto;
    }

    #fifthElement
    {
        grid-column: 1 / span 2;
    }

    #filterTable {
      display: none;
    }

    #filterOptions
    {
        padding: 0!important;
    }

    #finishFilter
    {
        width: 13vw;
    }
    #filterOptions > button , #filterTable , select 
    {
        width: 15vw;
    }

    .filterTableNone
    {
        display: block;
    }

    #secondElement button
    {
        display:none;
    }



  }





  .loading
  {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vh;
      width: 100%;
  }

  .loading p
  {
      font-size: 20px;
  }