#listedItems
{
    padding: 1vh 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center!important;
    justify-items: center!important;
    margin: auto;
}

@media only screen and (max-width: 768px)
{
    #listedItems
{
    padding: 1vh 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr!important;
    align-items: center;
    justify-items: center;
    margin: auto;
}    
}

@media only screen and (min-width: 768px)
{
    #listedItems
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
        align-items: center;
        justify-items: center;
        margin: auto;
    }
}