#listedItems
{
    padding: 1vh 1vw;
    display: grid;
    align-items: center;
    justify-items: center!important;
    margin: auto;
    grid-auto-rows: auto;
}

@media only screen and (max-width: 768px)
{
    #listedItems
{
    grid-template-columns: 1fr 1fr!important;

}    
}

@media only screen and (min-width: 768px) and (max-width: 992px) 
{
    #listedItems
    {
        grid-template-columns: 1fr 1fr 1fr!important;
    }
}

@media only screen and (min-width: 992px)
{
    #listedItems
    {
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
        align-items: top!important;
        margin: 0 auto!important;
    }
}